@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 640px) {
     .min {       
       background-image: url(/image/sunrise.jpeg);
       object-fit: contain;       
       background-position: center;       
     }
   }